@model Lingva.ViewModels.Lesson
@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/admin_css/choose-theme.css" asp-append-version="true">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css" asp-append-version="true">
    <title>Choose Theme</title>
</head>
<body>
    @*@await Html.PartialAsync("_HeaderPartial")*@
    <!--<div class="container">
        <p class="nomer-temi">ВЫБЕРИТЕ НОМЕР ТЕМЫ:</p>
        <div class="scrollable">
            <table>
                <tr>
                    <th> ID </th>
                    <th> ИМЯ УРОКА </th>
                    <th> КОЛ-ВО ЗАНЯТИЙ </th>
                </tr>
                <tr>
                    <td><a href="#"> 01 </a></td>
                    <td><a href="#">PRESENT SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 02  </a></td>
                    <td><a href="#">PRESENT CONTINUOUS </a></td>
                    <td><a href="#">2 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 03  </a></td>
                    <td><a href="#">FUTURE SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 04  </a></td>
                    <td><a href="#">FUTURE CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 05  </a></td>
                    <td><a href="#">PAST SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 06  </a></td>
                    <td><a href="#">PAST CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 07  </a></td>
                    <td><a href="#">RELATIVE CLAUSES</a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 08 </a></td>
                    <td><a href="#">PAST CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                <tr>
                    <td><a href="#"> 09  </a></td>
                    <td><a href="#">RELATIVE CLAUSES</a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 010 </a></td>
                    <td><a href="#">FUTURE IN THE PAST</a></td>
                    <td><a href="#">3 </a></td>
                </tr>
            </table>
        </div>

        <button class="new-lesson">НОВЫЙ УРОК</button>
    </div>-->

    <div class="container">
        <p class="nomer-temi">ВЫБЕРИТЕ НОМЕР ТЕМЫ:</p>
        <div class="scrollable">
            <table>
                <thead>
                    <tr>
                        <th>ID Урока</th>
                        <th>Имя урока</th>
                        <th>Кол-во занятий в уроке</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">@Html.Display(Model.Language)</a></td>
                        <td><a href="#">@Html.Display(Model.ThemeId.ToString())</a></td>
                        <td><a href="#">4 </a></td>
                    </tr>
                </tbody>
            </table>
        </div class="scrollable">
    </div class="container">
                    <!--
            <form method="post" asp-controller="LessonCreate" asp-action="ChooseThemePost">
                    Name @Html.RadioButtonFor(m => m.ThemeId, 1)
                    Russian @Html.RadioButtonFor(m => m.ThemeId, 2)
                    Deutsch @Html.RadioButtonFor(m => m.ThemeId, 3)
                <input type="submit" name="Далее" />
            </form>
            -->
</body>
</html>